input( type='text' )
input(type='text' name='name' checked='true')
input(type='text',name='name',value='value')
input(type='text', name='name', value='value')
input(type='text' ,checked ,value='value')
input(type='text' , name='name' , value='value')
input(type='text'   name='name'   value='value')
input(type='text'  name='name'  value='value')
input(type='text', name='name',value='value')
input(type='text', name='name' value='value')
input(type='text'  name='name' ,value='value')
a(style={color: 'red', background: 'green'})
a(class = ['red', 'green', 'blue'])
a(class= {active: currentUrl === '/', inactive: true})
a(href="https://mozilla.org") Mozilla
a( target="_blank" href=!plate.url ).boilerplate(class='test')= plate.name
a(class='class')(class='class')
img(src=url('src'))
a(style={color: 'red', background: 'green'})
a(class=['red', 'green', 'blue'])
a(class={active: currentUrl === '/'})
a(href='#') English (US)
+createItem(anItem)(class='aClass anotherClass')

span(href='#'
 class='class'
 name='name')

span(href='#',
class='class',
name='name')

span(href='#',
 class='class',
 name='name')

span(href='#'
 ,class='class'
 ,name='name')

span(href='#'
 , class='class'

 , name='name')

span(
  href='#'
  class='class'
  name='name'
)

div
  span(
    href='#'
    class='class'
    name='name'
  )
