div(foo="1",
  bar="{hello:' world',\
  666: true}",
  batz="2")

div
  div
    div
  div(a="foo", b="bar",
    c="batz")

div
  div
    div
div(a="foo", b="bar",
  c="batz")

div
  div
  div(a="foo", b="bar",
    c="batz")

div
  div(a="foo", b="bar",
    c="batz")
